* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

p {
    color: #757575;
}

li {
    color: #474747;
}

/* header and navigation style */
.header {
    background: #FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 0 50px;
}

.main-color {
    color: #fd6e0a;
}

#btn-primary {
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

/* banner styles */
.banner {
    margin: 0 38px 200px 200px;
    display: flex;
    align-items: center;
}

.banner-title {
    font-size: 85px;
    font-weight: bolder;
}

.sub-title {
    font-size: 45px;
    font-weight: 600;
    color: #474747;

}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* About section styles */
main {
    display: flex;
    justify-content: center;
}

.about {
    padding: 131px 156px;
    margin-top: 130px;
    margin: 0 230px;
    /* width: 1140px; */
    /* height: 250px; */
    border-radius: 10px;
    background: #FFF8F3;
    text-align: center;
}

.section-title {
    /* text-align: center; */
    /* margin-bottom: 30px; */
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0px;
    margin-bottom: 30px;
}

.about-info {
    list-style: none;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
}